.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
  
.gridItem {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.container {
    box-sizing: border-box;
}

.input, .msg, .area {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid black;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}

.login .input {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login .input:last-child {
    margin-right: 0px;
}

.msg .area {
    height: 200px
}

.btn {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.input:focus, .msg, .area:focus {
    border: 2px solid black;
}

.gridItem {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease-in-out; /* Add a transition effect */
}

.animated {
    opacity: 1; /* Set opacity to 1 for the animated class */
}
