.navBar {
  background: #002244;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1.5rem 2rem;
  transition: top 0.3s ease;
  margin: 1%;
  border-radius: 50px;
}

.HomePage {
  font-size: 2rem;
}

.navBar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navBar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.navBar li.active {
  background-color: #777;
  transition: background-color 1s ease;
}
