.ProjectsBody {
    font-size: large;
}

.image-gallery {
  max-width: 80%; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the gallery horizontally */
}

.image-gallery-slide img {
  max-height: 400px; /* Adjust the maximum height of individual images */
}

.image-gallery-thumbnail img {
  max-width: 100px; /* Adjust the maximum width of thumbnails */
  max-height: 100px; /* Adjust the maximum height of thumbnails */
}